<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div sec:authorize="hasAuthority('USER')">
            Users will see this text.
            You can display a navbar here.
        <a href="/granteduser">User view of the user page</a>
    </div>

        <div sec:authorize="hasAuthority('ADMIN')">
            Administrators will see this text. You can display a navbar here.
            <a href="/grantedadmin">Admin view of the user page</a>
        </div>

        <div sec:authorize="Anonymous">
        <h2>Hello, everyone!</h2>
        </div>

</body>
</html>