<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div sec:authorize="hasAuthority('USER')">
        <h2>Users can see this</h2>
        Users will see this text.
        You can display a navbar here.
    </div>

        <h2>Everyone who is logged in can see this</h2>

    <div sec:authorize="hasAuthority('ADMIN')">
            Administrators will see this text. You can display a navbar here.
    </div>

    <p th:text="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}?'Show this text to administrators':'Show this text to everyone else'">
    </p>
</body>
</html>